@charset "UTF-8";

  body{
    background-color: lightblue;
  }

main {
  background-color: rgb(96, 171, 236);
}

header {

  border: 1px dotted black;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
  display: flex;

}

header > h1 {

  border: 1px dotted black;
  padding: 10px;
  margin: 10px;

}

header > nav {

  width: 90vw;
  border: 1px dotted rgb(255, 0, 0);
  flex-flow: column nowrap;


  display: flex;

}

header > nav > a{

  padding: 5px;
  align-content: center;
  color: white;
  background-color: rgb(59, 59, 59);
  border: 1px dotted black;

}
